<h1>Dashboard</h1>
<div class="card">
    <div class="card-head">Notre projet - dashboard</div>
    <div class="card-body">
        Notre projet intitulé
« Mise en place d’une Application RH de gestion et de génération de CV à la demande » vise
à développer une application web pour faciliter les tâches et accélérer le travail du personnel.<br>
Ce rapport est structuré en cinq chapitres qui illustrent notre travail sur l’implémentation
du système conçu.
— Le premier chapitre sert à présenter « l’organisme d’accueil », exposer une étude de
l’existant, pour bien comprendre le système du travail actuel au sein de l’entreprise et
propose une solution, et souligner notre méthodologie adoptée.
    </div>
</div>